
body{
	background: #FFFFFF !important;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption{
	color: #4EA0AF!important;
}
.wy-menu-vertical li.current{
	background-color: #f4f4f4!important;
}
.wy-menu-vertical li.toctree-l2.current>a{
	background-color: #ebebeb!important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a{
	background-color: #e3e3e3!important;
}

.rst-content .sidebar{
	background-color: #fff!important;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: #17d9ff;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: normal;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 {
  color: white;
  padding: 20px 20px 20px 45px;
  margin: 20px 0 35px -45px;
  background: linear-gradient(to left, #fff, #2b38ff)!important;

  width: calc(100% + 90px);
  border-bottom: 3px solid #000;
}

h2 {
  padding: .2em 0;
  border-bottom: 1px solid #ddd;
}

h3 {
  margin-top: 35px;
}

h4 {
  margin-top: 30px;
}

h5 {
  margin-top: 25px;
}

.wy-nav-content{
	max-width: none!important;
}

.wy-side-nav-search{
	background: #2b38ff!important;
}

.wy-side-nav-search input[type=text]{
	border-color:#4DA0B0!important;
}

.wy-side-nav-search input[type=text]{
	border-radius: 4px!important;
}

#caption-api {
	background: red !important;
}

#caption-text-api {
	text-color: blue !important;
}
