*.1 linguist-generated
*.2 linguist-generated
*.3 linguist-generated
*.4 linguist-generated
*.5 linguist-generated
*.6 linguist-generated
*.7 linguist-generated
*.8 linguist-generated
*.9 linguist-generated
*.10 linguist-generated
*.11 linguist-generated
