_build
_static
_templates
hymd.egg-info
*.hypothesis
*.mypy_cache
*.pytest_cache
*.eggs
*.coverage
hymd/__pycache__
test/__pycache__
coverage.xml
*.DS_Store
__pycache__
RUN/
*.so
test-xinmeng-electrostatic/*
!test-xinmeng-electrostatic/run-dppc/
!test-xinmeng-electrostatic/run-sds/
