cython
h5py
mpi4py
mpsort @ git+https://github.com/rainwoodman/MP-sort
networkx
numpy
pfft-python @ git+https://github.com/rainwoodman/pfft-python
pmesh @ git+https://github.com/rainwoodman/pmesh
sympy
tomli
